@media (min-width: 768px){
	
	.mobile-menu {
		display: none;
	}

	.mobile-menu-btn {
		display: none;
	}
}
@media (min-width: 1200px) and (max-width: 1299px) {
	.site-header .header-wrapper .logo-wrapper {
		width: 10px;
	}

	.site-header .header-wrapper .navigation-wrapper .main-nav .menu-navigation > li {
		margin: 0 10px;
	}

	.site-header .header-wrapper .navigation-wrapper .main-nav .menu-navigation > li a {
		font-size: 16px;
		font-weight: 300;
	}

	.btn-logout {
		font-size: 16px;
	}






}




@media (min-width: 992px) and (max-width: 1199px) {
	.site-header .header-wrapper .logo-wrapper {
		width: 7px;
	}

	.site-header .header-wrapper .navigation-wrapper .main-nav .menu-navigation > li {
		margin: 0 5px;
	}

	.site-header .header-wrapper .navigation-wrapper .main-nav .menu-navigation > li a {
		font-size: 16px;
		font-weight: 300;
	}

	.btn-logout {
		font-size: 16px;
	}

	.twitter {
		margin-left: 0px;
	}

	.linkedin {
		margin-left: 0px;
	}


	.pagination li a {
		font-size: 14px;
	}

	.page-item {
		margin-left: 10px;
	}

	.pagination li a.active {
		width: 28px;
		height: 28px;
		padding: 3px;
	}
	.add-border{
		width: inherit;
	}
	





}


@media (min-width: 768px) and (max-width: 991px) {
	.site-header .header-wrapper .logo-wrapper {
		display: none;
	}

	.site-header .header-wrapper .navigation-wrapper .main-nav .menu-navigation > li {
		margin: 0 7px;
	}

	.site-header .header-wrapper .navigation-wrapper .main-nav .menu-navigation > li a {
		font-size: 16px;
		font-weight: 400;
	}

	.btn-logout {
		font-size: 18px;

	}

	.facebook {
		margin-left: -30px;
	}

	.twitter {
		margin-left: -20px;
	}

	.linkedin {
		margin-left: -10px;
	}

	.pagination li a {
		font-size: 14px;
	}

	.page-item {
		margin-left: 10px;
	}

	.pagination li a.active {
		width: 28px;
		height: 28px;
		padding: 3px;
	}
	.add-border{
		width: inherit;
	}
	


	
}


@media (max-width: 767px) {
	.site-header {
		display: none;
	}

	.facebook {
		margin-left: -30px;
	}

	.twitter {
		margin-left: -20px;
	}

	.linkedin {
		margin-left: -10px;
	}

	footer p {

		font-size: 13px;
		font-weight: 300;
		line-height: 16px;

	}

	.pagination li a {
		font-size: 14px;
	}

	.page-item {
		margin-left: 10px;
	}

	.pagination li a.active {
		width: 28px;
		height: 28px;
		padding: 3px;
	}

	.add-border{
		width: inherit;
	}
	




}






@media (max-width: 480px) {
	.facebook {
		margin-left: -30px;
	}

	.twitter {
		margin-left: -20px;
	}

	.linkedin {
		margin-left: -10px;
	}

	footer p {

		font-size: 11px;
		font-weight: 300;
		line-height: 16px;

	}

	.pagination li a {
		font-size: 14px;
	}

	.page-item {
		margin-left: 10px;
	}

	.pagination li a.active {
		width: 28px;
		height: 28px;
		padding: 3px;
	}
	#user-title{
		font-size: 30px;
	}
	

	
	





}




@media (max-width: 320px) {}
