.content-box-lg {
    padding: 0px 0;
}

.content-box-md {
    padding: 0px 0;
	
}

.content-box-sm {
    padding: 0px 0;
}
html,
body {
    height: 100%;
}
body{
	overflow-x: hidden;
}
section {

    background: #fff;
    overflow: hidden;
}
.background-img {
	margin-top: 45px;
}
.background-img img{
	position: absolute;
	height: 250px;
	
}
input[type="text"],
input[type="email"],
#contact-us textarea
{
	font-family: "open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #333333;
}
.background-img p{
	font-family: "open Sans", sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 54px;
    color: #fff;
	position: relative;
	padding-top: 100px;
	margin-bottom: 160px;
}
.contact-heading{
		font-family: "open Sans", sans-serif;
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
}
.contact-heading-p{
			font-family: "open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
	margin-bottom: 10px;
}
#contact-us label{
	margin-top: 20px;
	margin-bottom: 10px;
}
#contact-us textarea{
	border: 1px solid #d1d1d1;
	border-radius: 3px;
}
.btn-general{
		background-color: #6255a5;
	width: 150px;
	height: 40px;
	border-radius: 3px;
	color: #fff;
	font-family: "open Sans", sans-serif;
	font-size: 18px;
	line-height: 22px;
	display: inline-block;
	margin: 30px 0 60px 0;
}
body{
  font-family: 'Open Sans', sans-serif;
  margin:0;
}
