.page-link{
	width: 8px;
	height: 15px;
	color: #333333;
	font-size: 15px;
	display: inline-block;
}
.page-item{
	margin-left: 55px;
	display: inline-block;
}
.pagination li a.active{
	width: 34px;
	height: 34px;
	font-family: "open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
   background-color: #6255a5;
	color: #ffffff;
	border-radius: 20px;
	display: inline-block;
	text-decoration: none;
	padding: 8px 0 0 0;
	
}
.pagination li a{
	color: #333333;
	font-family: "open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
	display: inline-block;
		text-decoration: none;
	
}
.pagination{
	margin-top: 30px;
	margin-bottom: 60px;
	
	display: inline-block;
}	
.table-hover-1 tr:hover
{
  
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3)  ;
  
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3)  ;
}

.table th,
.table td
{
	font-family: "open Sans", sans-serif;
}	
.table td{
	font-family: "open Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
	height: 60px;
	padding-top: 20px;
	
}	
.table th{
	color: #333333;
	   font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}	
.add-color{
	color: #6255a5;
}


.dropdown:hover .dropdown-content {display: block;}

.modal-content{
	margin-top: 200px;
	height: auto;
	padding:30px 50px;
	width: 580px;
	height: 426px;
	
}
.dropbtn {
 
  color: white;
 

  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
min-width: 250px;
left: -180px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 12px 20px;
  text-decoration: none;
  display: block;
	font-family: "open Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
	color: #333333;
}	
.active-dropdown{
	color: #6255a5 !important;
	
}
.dropdown-content a:hover {
	background-color: #6255a5;
	color: #ffffff !important;
	border-radius: 4px;
	padding-bottom: 8px !important;
	
}
.dropdown:hover .dropdown-content {display: block;}

.addwidth{
	min-width: 350px;
}
.setwidth{
	max-width: 210px;
	min-width: 210px;
		top: 8px;
}
.modal-content{
	margin-top: 200px;
	
	padding:30px 50px;
	width: 580px;
	height: 426px;
	
}

.modal-body h5{
		font-family: "open Sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    color: #6255a5;
}
.site-header {
    padding: 18px 0;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 999;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.sticky-header .site-header {
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    padding: 5px 0;
   
  background-color: #fff;
}
.site-header .header-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 0 40px;
    transition: .3s;
    -webkit-transition: .3s;

}
.site-header .header-wrapper .logo-wrapper a{
  color:#fff;
  text-decoration:none;
  font-size:50px;
}
.site-header .header-wrapper .logo-wrapper {
    position: relative;
    z-index: 9;
}
.site-header .header-wrapper .navigation-wrapper .main-nav .menu-navigation {
    margin: 0;
    display: flex;
    align-items: center;
  list-style:none;
}
.site-header .header-wrapper .navigation-wrapper .main-nav .menu-navigation>li .active{
	border-bottom: 2px solid #6255a5;
	color: #6255a5;
}
.site-header .header-wrapper .navigation-wrapper .main-nav .menu-navigation>li {
    margin: 0 20px;
}
.site-header .header-wrapper .navigation-wrapper .main-nav .menu-navigation>li a {
    font-size: 18px;
    display: inline-block;
    color: #333333;
    font-family: "open Sans", sans-serif;
    font-weight: 400;
    line-height: 20px;
  text-decoration:none;
}
.site-header .header-wrapper .navigation-wrapper .main-nav .menu-navigation>li a:hover{
	color: #6255a5;
	padding-bottom: 3px;
	border-bottom: 4px solid #6255a5;
	
}

.first-section{
  background-color: #db987d;
}
.first-section h2{
  color:#fff;
}
.btn-header{
		color: #6255a5;
      background-color: #6255a5;
      width: 89px;
      height:40px;
      border-radius: 3px solid #6255a5;
      color:#fff;
      font-family: "open Sans", sans-serif;
      font-size: 18px;
      line-height: 22px;
}
.horizontal-rule{
	border-top: 1px solid #d1d1d1;
	width: 100%;
	margin-bottom: 30px;
}
footer p{
	  font-family: "open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #333333; 
}
.facebook,
.twitter,
.linkedin{
	background-color: #6255a5;
	width: 36px;
	height: 36px;
	border-radius: 25px;
	display: block;
	padding-top: 5px;
	
}
.twitter{
	margin-left: -10px;
}
.linkedin{
	margin-left: -20px;
}
footer{
	bottom: 0;
	padding-left: 40px;
	padding-right: 30px;
	padding-bottom: 30px;
}







.dataTables_wrapper .dataTables_paginate {
 
  padding-top: 30px;
	display: table;
	text-align: center;
	width: 100%;
	margin-bottom: 30px;
	

}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  padding-top: 5px;
  margin-left: 30px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  color: #333 !important;
  border: 1px solid transparent;
	border-radius: 100%;
	width: 34px;
	height: 34px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
	background: none;
  color: #ffffff !important;
  border: 1px solid #6255a5;
  background-color: #6255a5;
	border-radius: 50%;
	font-family: "open Sans", sans-serif;
	

 
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: #6255a5 !important;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none;
	border-radius: 50%;
	font-family: "open Sans", sans-serif;

}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	background: none;
  color: #ffffff !important;
  border: 1px solid #6255a5;
  background-color: #6255a6;

  
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  outline: none;
  background-color: #6255a5;

		border-radius: 50%;
  box-shadow: inset 0 0 3px #6255a5;
}



@media (min-width: 768px){
	
	.mobile-menu {
		display: none;
	}

	.mobile-menu-btn {
		display: none;
	}
}
@media (min-width: 1200px) and (max-width: 1299px){
			.site-header .header-wrapper .logo-wrapper {
		width: 10px;
	}
	.site-header .header-wrapper .navigation-wrapper .main-nav .menu-navigation > li {
		margin: 0 10px;
	}
	.site-header .header-wrapper .navigation-wrapper .main-nav .menu-navigation>li a{
		font-size: 18px;
		font-weight: 400;
	}
	.btn-logout{
		font-size: 18px;
	}
	
	
	
	
	
	
}




@media (min-width: 992px) and (max-width: 1199px){
		.site-header .header-wrapper .logo-wrapper {
		width: 7px;
	}
	.logo-wrapper img{
		width: 200px;
		margin-left: -20px;
	}
	.site-header .header-wrapper .navigation-wrapper .main-nav .menu-navigation > li {
		margin: 0 10px;
	}
	.site-header .header-wrapper .navigation-wrapper .main-nav .menu-navigation>li a{
		font-size: 18px;
		font-weight: 400;
	}
	.btn-header{
		font-size: 18px;
	}
	.twitter {
		margin-left: 0px;
	}

	.linkedin {
		margin-left: 0px;
	}
	.background-img p{
		font-size: 40px;
	}
	
	
	
	
}


@media (min-width: 768px) and (max-width: 991px){
	.logo-wrapper img{
		width: 170px;
		margin-left: -20px;
	}
		.site-header .header-wrapper .navigation-wrapper .main-nav .menu-navigation > li {
		margin: 0 7px;
	}
	.site-header .header-wrapper .navigation-wrapper .main-nav .menu-navigation>li a{
		font-size: 16px;
		font-weight: 400;
	}

	.btn-header{
		height: 30px;
		width: 50px;
		font-size: 12px;
		
		
	}
	.user-profile-img{
		width: 35px;
		height: 35px;
	}
	.facebook {
		margin-left: -30px;
	}

	.twitter {
		margin-left: -20px;
	}

	.linkedin {
		margin-left: -10px;
	}
	.background-img p{
		font-size: 40px;
	}
	
	
	
	
	
	
	
	
}



@media (max-width: 767px) {
	.site-header{
		display: none;
	}
	.facebook {
		margin-left: -30px;
	}

	.twitter {
		margin-left: -20px;
	}

	.linkedin {
		margin-left: -10px;
	}
	footer p{

    font-size: 13px;
    font-weight: 300;
    line-height: 16px;

	}
	.btn-general{
	
	width: 100px;
	height: 40px;
		font-size: 16px;
	}
	.background-img p{
		font-size: 35px;
	}
	
	
	
}






@media (max-width: 480px){
	.facebook {
		margin-left: -30px;
	}

	.twitter {
		margin-left: -20px;
	}

	.linkedin {
		margin-left: -10px;
	}
	footer p{

    font-size: 11px;
    font-weight: 300;
    line-height: 16px;

	}
	.btn-general{
	
	width: 80px;
	height: 40px;
		font-size: 14px;
	}
	.background-img p{
		font-size: 30px;
	}
	
	
	
	
	
	
	
}




@media (max-width: 320px) {
	
	
	
	
	
	
	
	
}




.mobile-dropdown-content,
.mobile-dropdown-content-2,
.mobile-dropdown-content-3{
	display: none;
}

.navbar-brand img {
	display: none;
}


#mobile-nav-open-btn {
    font-size: 35px;
    color: #6255a5;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    right: 10px;
    top: 10px;
	float: right;
    /* hide mobile nav open btn */
    display: none;
	
}
#mobile-nav {
    /* by default, mobile nav will be hidden with height 0% */
    height: 0%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(255, 255, 255, .9);
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    overflow-y: hidden;
}

#mobile-nav-content {

    width: 100%;
    margin-top: 0px;
    position: relative;
    top: 10%;
}
#mobile-nav-close-btn {
	font-family: "open Sans", sans-serif;
    font-size: 70px;
    color: #6255a5;
    font-weight: 400;
    cursor: pointer;
    position: absolute;
    top: -9px;
    right: 13px;
    -webkit-transition: .3s;
    transition: .3s;
}

#mobile-nav ul li {

    margin-bottom: 20px;
	display: inline;
	position: relative;
}

#mobile-nav ul li a{
	
    margin-bottom: 20px;
	display: inline-block;
	position: relative;
	
}

#mobile-nav-content {
  top:30px !important;
    width: 100%;
 
}
#mobile-nav a {
    font-family: "open Sans", sans-serif;
    font-size: 18px;
    color: #212226;
    font-weight: 400;
    display: inline !important;
    -webkit-transition: .3s;
    transition: .3s;
	
}
#mobile-nav a:focus{
	color: #6255a5;
	text-decoration: none;
}
#mobile-logo{
	margin: 22px 0 0 25px;
}
.btn-logout-mobile{
			 color: #6255a5;
      background-color: #6255a5;
      max-width: 90px !important;
      max-height:40px !important;
      border-radius: 3px;
      color:#fff;
      font-family: "open Sans", sans-serif;
      font-size: 18px;
      line-height: 22px;
}

@media (max-width: 767px) {
	#mobile-nav-open-btn{
		display: block;
	}

	.mobile-menu {
		display: block;
	}
	.navbar-brand img {
	display: block;
	}
.navbar-fixed-top{
	box-shadow: 0 8px 6px -9px #999;
	padding: 17px 10px;
	}
}



























