html,body{
  height: 100%;
	width: 100%;
}
body{
	overflow-x: hidden;
}
#search-bacground-img{
	height: 250px;
	margin-top: 45px;
	
	
}
#search-top-heading{
		 font-family: "open Sans", sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 54px;
    color: #fff;
	margin-top: -150px;

}
.search-heading{
	font-family: "open Sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    color: #6255a5;
	margin-top: 140px;

	margin-bottom: 20px;
}
#filter-srarch-bar{
	background-color: lightgray;
	height: 180px;
	width: 100%;
	padding: 30px;
}
#search-bar{



}
input[type="text"]{
	

	
	height: 50px;
	border-radius: 3px;
	border: 1px solid #d1d1d1;
}
.search-icon{
  float: left;
	margin-top: -37px;
	margin-left: 20px;
  z-index: 2;
	
}
#filter-bar{
	margin-top:20px;
}
.custom-select{
		
	width: 150px;
	
	height: 50px;
	border-radius: 3px;
	border: 1px solid #d1d1d1;
	 background-image: url('../../images/Search/arrow-down.png');  background-size: 20px;
	margin-bottom: 70px;
}

#inlineFormCustomSelectPref1{ 	 margin-left: px;}
#inlineFormCustomSelectPref2{ 	 margin-left: px; }
#inlineFormCustomSelectPref3{ 	 margin-left: px; }
#inlineFormCustomSelectPref4{ 	 margin-left: px; }
#inlineFormCustomSelectPref5{ 	 margin-left: px; }
#inlineFormCustomSelectPref6{	margin-left: px; }
#notes-heading{
	position: relative;
		font-family: "open Sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    color: #6255a5;
	margin-top: 60px;
	
	margin-bottom: 30px;
}
.book-details{
	border: 1px solid #d1d1d1;
	width: 370px;
	height: 300px;


}
#search-book{

	width: 100%;
}

.book-heading-1{
	font-family: "open Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    color: #6255a5;
	width: 100%;
	margin-top: 30px;
	text-decoration: none;
}
.title-link,.title-link:hover{
	color: #6255a5;
	text-decoration: none;
}
.book-img img{
	width: 370px;
	height: 253px;
}
.book-details h4{
		margin-left: 30px;
	display: inline-block;
	margin-bottom: 20px;
	margin-top: 30px;

}
.book-details p
{
	margin-left: 30px;
	display: inline-block;
	margin-bottom: 10px;
	font-family: "open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
}
.book-details p span{

    color: #df3434;
}
.claender-img{
	margin-left: 35px;
	width: 20px;
		height: 20px;
}
.flag-img{
	margin-left: 37px;

}
.univer-img,
.page-img{
	margin-left: 30px;
}
.icons{
	width: 30px;
	height: 30px;
	display: inline-block;
	margin-right: 15px;
}
*{
    margin: 0;
    padding: 0;
}
.rate {
    float: left;
    height: 46px;
  
	margin-left: 30px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:25px;
    color:#ccc;
	
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
.review-count{
	font-family: "open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
	margin-top: 10px;
}
#book-img-1,
#book-img-2,
#book-img-3,
#book-img-4,
#book-img-5,
#book-img-6,
#book-img-7,
#book-img-8,
#book-img-9
{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	margin-bottom: 30px;
	
}
.pagination{
	margin-top: 50px;
	margin-bottom: 50px;

	display: inline-block;
}
.page-link{
	width: 8px;
	height: 15px;
	color: #333333;
	font-size: 15px;
	display: inline-block;
}
.page-item{
	margin-left: 55px;
	display: inline-block;
}
.pagination li a.active{
	width: 34px;
	height: 34px;
	font-family: "open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
   background-color: #6255a5;
	color: #ffffff;
	border-radius: 20px;
	display: inline-block;
	text-decoration: none;

	
}
.pagination li a{
	color: #333333;
	font-family: "open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
	display: inline-block;
		text-decoration: none;

	
}
