@media (min-width: 768px){
	

}
@media (min-width: 1200px) and (max-width: 1299px) {







}




@media (min-width: 992px) and (max-width: 1199px) {


	.twitter {
		margin-left: 0px;
	}

	.linkedin {
		margin-left: 0px;
	}


	.pagination li a {
		font-size: 14px;
	}

	.page-item {
		margin-left: 10px;
	}

	.pagination li a.active {
		width: 28px;
		height: 28px;
		padding: 3px;
	}

	#my-download-notes input[type="text"] {
		width: 250px;
	}





}


@media (min-width: 768px) and (max-width: 991px) {


	.facebook {
		margin-left: -30px;
	}

	.twitter {
		margin-left: -20px;
	}

	.linkedin {
		margin-left: -10px;
	}

	.pagination li a {
		font-size: 14px;
	}

	.page-item {
		margin-left: 10px;
	}

	.pagination li a.active {
		width: 28px;
		height: 28px;
		padding: 3px;
	}

	#my-download-notes input[type="text"] {
		width: 150px;
	}

	.table th,
	.table td {
		font-size: 14px;
	}
}


@media (max-width: 767px) {
	.site-header {
		display: none;
	}

	.facebook {
		margin-left: -30px;
	}

	.twitter {
		margin-left: -20px;
	}

	.linkedin {
		margin-left: -10px;
	}

	footer p {

		font-size: 13px;
		font-weight: 300;
		line-height: 16px;

	}

	.pagination li a {
		font-size: 14px;
	}

	.page-item {
		margin-left: 10px;
	}

	.pagination li a.active {
		width: 28px;
		height: 28px;
		padding: 3px;
	}

	#my-download-notes input[type="text"] {
		width: 150px;
	}

	.table th,
	.table td {
		font-size: 14px;
	}




}






@media (max-width: 480px) {
	.facebook {
		margin-left: -30px;
	}

	.twitter {
		margin-left: -20px;
	}

	.linkedin {
		margin-left: -10px;
	}

	footer p {

		font-size: 11px;
		font-weight: 300;
		line-height: 16px;

	}

	.pagination li a {
		font-size: 14px;
	}

	.page-item {
		margin-left: 10px;
	}

	.pagination li a.active {
		width: 28px;
		height: 28px;
		padding: 3px;
	}

	#my-download-notes input[type="text"] {
		width: 150px;
	}

	.table th,
	.table td {
		font-size: 14px;
	}
	.progress-heading p{
		font-size: 20px;
	}
	
	





}




@media (max-width: 320px) {}
